*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    max-width: 100%;
    /* border: 1px solid grey; */
    font-family: 'Comfortaa', cursive;
} 

html{
    font-size: 62.5%;
}

body{
    font-size: 2.6rem;
    background-image: url("https://img.pngio.com/fully-simple-wrinkled-paper-background-paper-wrinkle-background-wrinkled-paper-png-640_856.png");
    background-image: fixed;
}



.container1{
    display: flex;  
    flex-direction: column;
    margin: 0 auto;
}

.container1 p{
  margin: 2%;
}

.navlink{
  text-align:center;
}
 
/* #navbar{
    display:flex;
    width:50;
    margin: 0 auto;
    padding: 1rem;

} */

.container2{
        display:flex;
        width: 100%;
}

.cabin{
  width: 100%;
  margin: 0% 5%;
}

.photo2{
  padding: 1%;
  width: 100%;
  height: 100%;
}




.container3{
        display:flex;
        width: 100%; 
        height: 100%;
        padding-top: 5%;
       
}


 
#navbar{
    display:flex;
    justify-content: center;
    width: 100%;    
}

#navbar a{
    font-size:1.3rem;
    border: .1rem dotted grey;
    align-text: center;
}

#navbar a:hover{
    background-color: #FF764E;
    
} 


/* Media Queries */

 @media(max-width:800px){
   .container3{ 
     margin: 5%;
    }

} 

@media(max-width:500px){
  #navbar{
    flex-direction: column;
    margin: 0 auto;
    width: 20%;
  }
  #text{
    margin:5%;
  }
  
  .cabin{
    align-items: center;
    width:80%;
    margin: 0 auto;
  }
    .container3{ 
     flex-wrap:wrap;
   
     width: 100%;
    }
  .photo2{
    width: 38%;
    margin: 0 auto;
    
  }
 
}